<div class="container mt-3">
<p> כניסה</p>
<form (ngSubmit)="loginl()" #myForm="ngForm">
  <!-- <div class="form-floating mb-3 mt-3">
    <input type="text" class="form-control" id="Id" placeholder="Enter Id" name="Id"
     [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}"  #cid="ngModel" required>
    <label for="Id" >Id</label>
  </div> -->
  <div class="form-floating mb-3 mt-3">
    <input type="text" class="form-control" id="email" placeholder="Enter email" name="email" 
    [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" #cemail="ngModel" required  pattern="[a-zA-Z0-9. _%+-]+@[a-zA-Z0-9. -]+.[a-zA-Z]{2,}">
    <label for="email"  >Email</label>
    @if(cemail.invalid &&( cemail.touched || cemail.dirty)){
        <p [hidden]="!cemail.errors!['pattern']"> תוים לא תקינים</p>
        <p [hidden]="!cemail.errors!['required']"> שדה זה חובה </p>
    }
  </div>
  <div class="form-floating mt-3 mb-3">
    <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" 
    [(ngModel)]="user.name" pattern="[א-ת ]*" minlength="2" [ngModelOptions]="{standalone: true}"  #cname="ngModel" required>
    <label for="name">name</label>
      @if(cname.invalid &&( cname.touched || cname.dirty)){
        <p [hidden]="!cname.errors!['pattern']"> תוים לא תקינים</p>
        <p [hidden]="!cname.errors!['minlength']">שם קצר מדי</p>
        <p [hidden]="!cname.errors!['required']"> שדה זה חובה </p>

      }
  </div>
  <button type="submit" class="custom-btn btn-7 together" [disabled]="!myForm.valid">כניסה</button>
  <br><br>
  <button class="custom-btn btn-7 together" (click)="toregister()">במקרה ואינך רשום יש להרשם----</button>
</form>
</div>

