
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">

          <div class="container-fluid"   >
            <a class="navbar-brand" (click)="homef()" routerLink="/home" id="agala1">דף בית</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"(click)="allProductf()" routerLink="/allProduct" id="agala1">כל המוצרים</a>
                  </li> 
                   <li class="nav-item">
                    <a class="nav-link"(click)="mybasket()" routerLink="/basket" id="agala1" > הסל שלי <i class="fa-solid fa-cart-plus"></i>  {{bs.orechsal}}</a>
  
                  </li> 
              </ul>
            </div>
          </div>
        </nav>
        
        <div class="container-fluid mt-3">
          
        </div>
       